# Ignore node_modules directories
node_modules/

# Ignore build directories
build/
dist/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore specific files or directories
# Add any other files or directories you want to ignore here